# Temporary files
*~
*#
.#*

# Vendors
node_modules/
vendor/

# Binaries for programs and plugins
dist/
gin-bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Artifacts we create
quicssh
server.crt
server.key

# Debian build artifacts
packaging/debian/debhelper-build-stamp
packaging/debian/files
packaging/debian/quicssh.debhelper.log
packaging/debian/quicssh.postrm.debhelper
packaging/debian/quicssh.substvars
packaging/debian/.debhelper/
packaging/debian/quicssh/
packaging/debian/debian

# Arch Linux build artifacts
packaging/arch/build/
